*~
*.o
*.lo
*.la
*.bz2

ChangeLog
INSTALL
Makefile
Makefile.in
README
aclocal.m4
autom4te.cache
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
depcomp
test-driver

src/librmf-common/.deps
src/librmf-common/.libs

src/librmf-common/test/.deps
src/librmf-common/test/.libs
src/librmf-common/test/*.log
src/librmf-common/test/*.trs
src/librmf-common/test/test-message-private
src/librmf-common/test/test-message

src/librmf/.deps
src/librmf/.libs

src/rmfcli/rmfcli
src/rmfcli/.deps
src/rmfcli/.libs
